@import "../../node_modules/bootstrap/less/bootstrap.less";

body{
  background: url('../images/bcg.jpg') fixed;
}
.alt-title{
  font-weight: 700;
  color: #fff;
  font-size: 24px;
  opacity: .9;
}


.main-nav{
  width: 180px;
  top: 0px;
  left: 0;
  z-index: 904;
  display: block;
  min-height: 100%;
  background-color: rgba(0,0,0,.5);
  height: 100%;
  position: fixed;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      text-indent: 20px;
      line-height: 40px;
      a {
        display: block;
        text-decoration: none;
        color: #999999;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &:hover {
          text-decoration: none;
          color: #fff;
          background: rgba(255,255,255,0.2);
        }
        &:active,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    padding-left: 15px;
    &, a {
      color: #999999;
      &:hover {
        color: #fff;
        background: none;
      }
    }
  }
}


.main-wrapper{
  margin-left: 180px;

  .main-title-wrap{
    padding-top: 13px;
    padding-bottom: 27px;
  }

  .panel{
    padding: 25px;
    color:#fff;
    background: url(../images/blur-bg-blurred.jpg) fixed;
    -webkit-transition: none;
    transition: none;
    background-color: rgba(0,0,0,.2);
    border: none;
    border-radius: 5px;
    position: relative;
    margin-bottom: 24px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
    .description{
      float: left;
      display: inline-block;
    }
    .icon{
      display: inline-block;
      float: right;
      height: 6em;
          fill: currentColor;
    }
  }

}
.loading{
  .main-wrapper{
    .panel:before{
      content:'';
      position: absolute;
      top:0;
      bottom:0;
      right:0;
      left:0;
      background:#333;
      opacity:0.8;
      border-radius: 5px;
    }
    .panel:after{
      position: absolute;
      top:0;
      bottom:0;
      right:0;
      left:0;
      content:'';
      display:block;
      width: 40px;
      height: 40px;
      background-color: #ddd;

      margin:auto;
      -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
      animation: sk-rotateplane 1.2s infinite ease-in-out;
    }
  }
}

@media (max-width: 500px) {
  .main-nav{
    position:relative;
    width: 100%;
    h3{
      margin-top:0;
    }
  }
  .main-wrapper{
    margin-left: 0px;
  }
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
